<div class="container mx-auto px-4 font-courier">
    <div class="flex items-center mb-4">
        <h2 class="text-2xl uppercase mr-4">{{ 'experience.title' | translate }}</h2>
        <div class="flex-grow border-b-2 border-gray-300"></div>
    </div>

    <div class="mt-4">
        <h3 class="font-semibold text-sm text-gray-600 uppercase">{{ 'raic.period' | translate }}</h3>
        <h4 class="text-xl font-semibold mb-2 text-gray-900 uppercase">{{ 'raic.role' | translate }}</h4>
        <ul class="list-disc ml-5 text-sm text-black lowercase">
            <li>{{ 'raic.details1' | translate }}</li>
            <li>{{ 'raic.details2' | translate }}</li>
        </ul>
    </div>

    <div class="mt-8">
        <h3 class="font-semibold text-sm text-gray-600 uppercase">{{ 'code3.period' | translate }}</h3>
        <h4 class="text-xl font-semibold mb-2 text-gray-900 uppercase">{{ 'code3.role' | translate }}</h4>
        <ul class="list-disc ml-5 text-sm text-black lowercase">
            <li>{{ 'code3.details1' | translate }}</li>
            <li>{{ 'code3.details2' | translate }}</li>
        </ul>
    </div>

    <div class="mt-8">
        <h3 class="font-semibold text-sm text-gray-600 uppercase">{{ 'opq.period' | translate }}</h3>
        <h4 class="text-xl font-semibold mb-2 text-gray-900 uppercase">{{ 'opq.role' | translate }}</h4>
        <ul class="list-disc ml-5 text-sm text-black lowercase">
            <li>{{ 'opq.details1' | translate }}</li>
        </ul>
    </div>

    <div class="mt-8">
        <h3 class="font-semibold text-sm text-gray-600 uppercase">{{ 'desjardins.period' | translate }}</h3>
        <h4 class="text-xl font-semibold mb-2 text-gray-900 uppercase">{{ 'desjardins.role' | translate }}</h4>
        <ul class="list-disc ml-5 text-sm text-black lowercase">
            <li>{{ 'desjardins.details1' | translate }}</li>
            <li>{{ 'desjardins.details2' | translate }}</li>
        </ul>
    </div>


    <div class="flex items-center mb-4 mt-12">
        <h2 class="text-2xl uppercase mr-4">{{ 'education.title' | translate }}</h2>
        <div class="flex-grow border-b-2 border-gray-300"></div>
    </div>

    <div class="flex items-start mb-4 mt-4 space-x-8">
        <div class="w-1/2">
            <h3 class="font-semibold text-sm text-gray-600 uppercase">{{ 'uqam.year' | translate }}</h3>
            <h4 class="text-xl font-semibold mb-2 text-gray-900 uppercase">{{ 'uqam.degree' | translate }}</h4>
            <p class="text-sm text-black lowercase">{{ 'uqam.institution' | translate }}</p>
        </div>
    
        <div class="w-1/2">
            <h3 class="font-semibold text-sm text-gray-600 uppercase">{{ 'sthya.year' | translate }}</h3>
            <h4 class="text-xl font-semibold mb-2 text-gray-900 uppercase">{{ 'sthya.degree' | translate }}</h4>
            <p class="text-sm text-black lowercase">{{ 'sthya.institution' | translate }}</p>
        </div>
    </div>


    <div class="flex items-center mb-4 mt-12">
        <h2 class="text-2xl uppercase mr-4">{{ 'skills.title' | translate }}</h2>
        <div class="flex-grow border-b-2 border-gray-300"></div>
    </div>
    
    <div class="flex flex-wrap mt-4">
        <div class="w-1/2">
            <ul class="list-disc ml-5 text-sm text-black">
                <li class="font-bold">{{ 'skills.java' | translate }}</li>
                <li class="font-bold">{{ 'skills.spring' | translate }}</li>
                <li class="font-bold">{{ 'skills.angular' | translate }}</li>
                <li class="font-bold">{{ 'skills.python' | translate }}</li>
                <li class="font-bold">{{ 'skills.web' | translate }}</li>
                <li class="font-bold">{{ 'skills.devops' | translate }}</li>
            </ul>
        </div>
        <div class="w-1/2">
            <ul class="list-disc ml-5 text-sm text-black">
                <li>{{ 'skills.php' | translate }}</li>
                <li>{{ 'skills.css' | translate }}</li>
                <li>{{ 'skills.databases' | translate }}</li>
                <li>{{ 'skills.cpp' | translate }}</li>
                <li>{{ 'skills.os' | translate }}</li>
                <li>{{ 'skills.git' | translate }}</li>
                <li>{{ 'skills.etc' | translate }}</li>
            </ul>
        </div>
    </div>

    <div class="flex items-center mb-4 mt-12">
        <h2 class="text-2xl uppercase mr-4">PROJETS MAJEURS</h2>
        <div class="flex-grow border-b-2 border-gray-300"></div>
    </div>

    <div class="mt-8 mb-8">
        <h3 class="font-semibold text-sm text-gray-600 uppercase">{{ 'project1.period' | translate }}</h3>
        <h4 class="text-xl font-semibold mb-2 text-gray-900 uppercase">{{ 'project1.name' | translate }}</h4>
        <ul class="list-disc ml-5 text-sm text-black lowercase">
            <li>{{ 'project1.detail1' | translate }}</li>
            <li>{{ 'project1.detail2' | translate }}</li>
        </ul>
        <h5 class="text-xl mb-2 mt-2 text-gray-900">{{ 'project.env' | translate }}</h5>
        <div class="flex flex-wrap mt-4">
            <div class="w-1/2">
                <ul class="list-disc ml-5 text-sm text-black">
                    <li>liferay</li>
                    <li>java</li>
                    <li>oracle </li>
                    <li>python</li>
                </ul>
            </div>
            <div class="w-1/2">
                <ul class="list-disc ml-5 text-sm text-black">
                    <li>unix</li>
                    <li>docker</li>
                    <li>jenkins</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="mt-12">
        <h3 class="font-semibold text-sm text-gray-600 uppercase">{{ 'project2.period' | translate }}</h3>
        <h4 class="text-xl font-semibold mb-2 text-gray-900 uppercase">{{ 'project2.name' | translate }}</h4>
        <ul class="list-disc ml-5 text-sm text-black lowercase">
            <li>{{ 'project2.detail1' | translate }}</li>
            <li>{{ 'project2.detail2' | translate }}</li>
        </ul>
        <h5 class="text-xl mb-2 mt-2 text-gray-900">{{ 'project.env' | translate }}</h5>
        <div class="flex flex-wrap mt-4">
            <div class="w-1/2">
                <ul class="list-disc ml-5 text-sm text-black lowercase">
                    <li>Spring Boot</li>
                    <li>Java 11</li>
                    <li>PostgreSQL</li>
                    <li>Jenkins</li>
                </ul>
            </div>
            <div class="w-1/2">
                <ul class="list-disc ml-5 text-sm text-black lowercase">
                    <li>Docker</li>
                    <li>Docker swarm</li>
                    <li>YAML</li>
                    <li>JIRA, Confluence, REST</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="mt-12">
        <h3 class="font-semibold text-sm text-gray-600 uppercase">{{ 'project3.period' | translate }}</h3>
        <h4 class="text-xl font-semibold mb-2 text-gray-900 uppercase">{{ 'project3.name' | translate }}</h4>
        <ul class="list-disc ml-5 text-sm text-black lowercase">
            <li>{{ 'project3.detail1' | translate }}</li>
            <li>{{ 'project3.detail2' | translate }}</li>
        </ul>
        <h5 class="text-xl mb-2 mt-2 text-gray-900">{{ 'project.env' | translate }}</h5>
        <div class="flex flex-wrap mt-4">
            <div class="w-1/2">
                <ul class="list-disc ml-5 text-sm text-black lowercase">
                    <li>Liferay</li>
                    <li>NodeJS</li>
                    <li>CoffeeScript</li>
                    <li>Python</li>
                </ul>
            </div>
            <div class="w-1/2">
                <ul class="list-disc ml-5 text-sm text-black lowercase">
                    <li>Unix</li>
                    <li>Docker</li>
                    <li>Docker swarm</li>
                    <li>MySQL</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="mt-12">
        <h3 class="font-semibold text-sm text-gray-600 uppercase">{{ 'project4.period' | translate }}</h3>
        <h4 class="text-xl font-semibold mb-2 text-gray-900 uppercase">{{ 'project4.name' | translate }}</h4>
        <ul class="list-disc ml-5 text-sm text-black lowercase">
            <li>{{ 'project4.detail1' | translate }}</li>
            <li>{{ 'project4.detail2' | translate }}</li>
        </ul>
        <h5 class="text-xl mb-2 mt-2 text-gray-900">{{ 'project.env' | translate }}</h5>
        <div class="flex flex-wrap mt-4">
            <div class="w-1/2">
                <ul class="list-disc ml-5 text-sm text-black lowercase">
                    <li>Java</li>
                    <li>Python</li>
                    <li>BASH</li>
                    <li>JavaScript</li>
                    <li>Dynatrace</li>
                    <li>Azure Cloud</li>
                </ul>
            </div>
            <div class="w-1/2">
                <ul class="list-disc ml-5 text-sm text-black lowercase">
                    <li>TypeScript</li>
                    <li>HTML</li>
                    <li>Docker Suite</li>
                    <li>Concourse</li>
                    <li>Spring Suite</li>
                    <li>RabbitMQ</li>
                </ul>
            </div>
        </div>
    </div>
</div>