<div class="container mx-auto px-4 font-courier">
    <div class="pb-12 flex justify-between items-center">
        <h1 class="text-3xl">Guillaume Lévesque</h1>
        <p class="text-md font-bold text-black">514.835.0203</p>
    </div>

    <div class="flex items-center mb-4">
        <h2 class="text-2xl uppercase mr-4">EXPÉRIENCES</h2>
        <div class="flex-grow border-b-2 border-gray-300"></div>
    </div>

    <div class="mt-4">
        <h3 class="font-semibold text-sm text-gray-600 uppercase">JUIN 2021 – AUJOURD’HUI</h3>
        <h4 class="text-xl font-semibold mb-2 text-gray-900 uppercase">ANALYSTE PROGRAMMEUR DESJARDINS</h4>
        <ul class="list-disc ml-5 text-sm text-black">
            <li>Spécialisé en Java (majoritairement Spring Boot), développement de services REST.</li>
            <li>Développement de services d’interaction et d’intégration DevOps (CI/CD -> Docker/Docker Swarm, Concourse PCF Kubernetes), analyse de sécurité (crypto), automatisation de tests.</li>
        </ul>
    </div>

    <div class="mt-8">
        <h3 class="font-semibold text-sm text-gray-600 uppercase">NOVEMBRE 2019 – JUIN 2021</h3>
        <h4 class="text-xl font-semibold mb-2 text-gray-900 uppercase">DÉVELOPPEUR DE LOGICIEL ET DEVOPS CODE3</h4>
        <ul class="list-disc ml-5 text-sm text-black">
            <li>Mise en place de CI/CD, installations et entretiens de serveurs (Linux et Mac), développement web (Spring Boot et Liferay).</li>
            <li>Développement d’outils internes et de logiciel d’analytique. Analyse de sécurité et mise à jour de sécurité.</li>
        </ul>
    </div>

    <div class="mt-8">
        <h3 class="font-semibold text-sm text-gray-600 uppercase">MAI 2014 – NOVEMBRE 2019</h3>
        <h4 class="text-xl font-semibold mb-2 text-gray-900 uppercase">GENIUS APPLE</h4>
        <ul class="list-disc ml-5 text-sm text-black">
            <li>Service d’après vente, gestion du plancher (Genius Bar), réparation d’appareil (iPhone, Mac),
                formateur.</li>
        </ul>
    </div>


    <div class="flex items-center mb-4 mt-12">
        <h2 class="text-2xl uppercase mr-4">ÉDUCATION</h2>
        <div class="flex-grow border-b-2 border-gray-300"></div>
    </div>

    <div class="flex items-start mb-4 mt-4 space-x-8">
        <div class="w-1/2">
            <h3 class="font-semibold text-sm text-gray-600 uppercase">2020</h3>
            <h4 class="text-xl font-semibold mb-2 text-gray-900 uppercase">BACCALAURÉAT EN INFORMATIQUE</h4>
            <p class="text-sm text-black">Université de Montréal, Montréal, QC</p>
        </div>
    
        <div class="w-1/2">
            <h3 class="font-semibold text-sm text-gray-600 uppercase">2015</h3>
            <h4 class="text-xl font-semibold mb-2 text-gray-900 uppercase">DEC EN SCIENCES INFORMATIQUES</h4>
            <p class="text-sm text-black">Cégep de Sherbrooke, Sherbrooke, QC</p>
        </div>
    </div>


    <div class="flex items-center mb-4 mt-12">
        <h2 class="text-2xl uppercase mr-4">COMPÉTENCES TECHNIQUES</h2>
        <div class="flex-grow border-b-2 border-gray-300"></div>
    </div>
    
    <div class="flex flex-wrap mt-4">
        <div class="w-1/2">
            <ul class="list-disc ml-5 text-sm text-black">
                <li class="font-bold">java</li>
                <li class="font-bold">spring</li>
                <li class="font-bold">angular</li>
                <li class="font-bold">python</li>
                <li class="font-bold">web (js, ts, css, html, etc)</li>
                <li class="font-bold">devops (CI/CD, docker, jenkins, ansible, etc)</li>
            </ul>
        </div>
        <div class="w-1/2">
            <ul class="list-disc ml-5 text-sm text-black">
                <li>php</li>
                <li>css (tailwind)</li>
                <li>mysql, oracle, postgres, mongodb, azure</li>
                <li>c++</li>
                <li>linux, mac, windows</li>
                <li>git</li>
                <li>etc</li>
            </ul>
        </div>
    </div>

    <div class="mt-4 mb-8 text-sm italic">
        <p>(gauche: <span class="font-bold">maîtrisé</span>, droite: connu)</p>
    </div>

    <div class="flex items-center mb-4 mt-12">
        <h2 class="text-2xl uppercase mr-4">PROJETS MAJEURS</h2>
        <div class="flex-grow border-b-2 border-gray-300"></div>
    </div>

    <div class="mt-8 mb-8">
        <h3 class="font-semibold text-sm text-gray-600 uppercase">JUIN 2020 - SETPEMBRE 2020</h3>
        <h4 class="text-xl font-semibold mb-2 text-gray-900 uppercase">RAIC</h4>
        <ul class="list-disc ml-5 text-sm text-black lowercase">
            <li>Création d’une plateforme web pour le guide des architectes canadiens. 
            <li>Réalisations incluent le déploiement d’une plateforme Liferay, échange constant avec le client, écriture et déploiement d’un wiki, écriture de scripts pour les administrateurs de système, et écriture de module (portlets) sur demande pour Liferay.</li>
        </ul>
        <h5 class="text-xl mb-2 mt-2 text-gray-900">environnement technologique</h5>
        <div class="flex flex-wrap mt-4">
            <div class="w-1/2">
                <ul class="list-disc ml-5 text-sm text-black">
                    <li>liferay</li>
                    <li>java</li>
                    <li>oracle </li>
                    <li>python</li>
                </ul>
            </div>
            <div class="w-1/2">
                <ul class="list-disc ml-5 text-sm text-black">
                    <li>unix</li>
                    <li>docker</li>
                    <li>jenkins</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="mt-12">
        <h3 class="font-semibold text-sm text-gray-600 uppercase">2020 – 2021</h3>
        <h4 class="text-xl font-semibold mb-2 text-gray-900 uppercase">CODE3 - Billetterie</h4>
        <ul class="list-disc ml-5 text-sm text-black lowercase">
            <li>Façade JIRA pour les clients. Plateforme interagissant avec l’API JIRA pour l’accès aux billets des projets sur la plateforme infonuagique d’Atlassian.</li>
            <li>Réalisations incluent le développement en Java 11 avec Spring Boot, architecture de l’application web et de la base de données avec PostgreSQL, écriture d’API REST, utilisation et compréhension de l’API JIRA (et Confluence), et pipeline de déploiement avec Docker Swarm et Jenkins.</li>
        </ul>
        <h5 class="text-xl mb-2 mt-2 text-gray-900">environnement technologique</h5>
        <div class="flex flex-wrap mt-4">
            <div class="w-1/2">
                <ul class="list-disc ml-5 text-sm text-black lowercase">
                    <li>Spring Boot</li>
                    <li>Java 11</li>
                    <li>PostgreSQL</li>
                    <li>Jenkins</li>
                </ul>
            </div>
            <div class="w-1/2">
                <ul class="list-disc ml-5 text-sm text-black lowercase">
                    <li>Docker</li>
                    <li>Docker swarm</li>
                    <li>YAML</li>
                    <li>JIRA, Confluence, REST</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="mt-12">
        <h3 class="font-semibold text-sm text-gray-600 uppercase">2021</h3>
        <h4 class="text-xl font-semibold mb-2 text-gray-900 uppercase">OPQ</h4>
        <ul class="list-disc ml-5 text-sm text-black lowercase">
            <li>Mise à jour de sécurité de la plateforme web en entier, ajout de modules personnalisés et maintenance.</li>
            <li>Réalisations incluent l'ajout de cryptages, Google Analytics, module de recherche personnalisé, maintenance du site web, et refactoring du code pour optimisation de performance.</li>
        </ul>
        <h5 class="text-xl mb-2 mt-2 text-gray-900">environnement technologique</h5>
        <div class="flex flex-wrap mt-4">
            <div class="w-1/2">
                <ul class="list-disc ml-5 text-sm text-black lowercase">
                    <li>Liferay</li>
                    <li>NodeJS</li>
                    <li>CoffeeScript</li>
                    <li>Python</li>
                </ul>
            </div>
            <div class="w-1/2">
                <ul class="list-disc ml-5 text-sm text-black lowercase">
                    <li>Unix</li>
                    <li>Docker</li>
                    <li>Docker swarm</li>
                    <li>MySQL</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="mt-12">
        <h3 class="font-semibold text-sm text-gray-600 uppercase">2022 - Aujourd'hui</h3>
        <h4 class="text-xl font-semibold mb-2 text-gray-900 uppercase">Desjardins – Consentement</h4>
        <ul class="list-disc ml-5 text-sm text-black lowercase">
            <li>Développement d'un système de gestion de données à haute disponibilité et hyper efficace pour l'ensemble du Mouvement Desjardins.</li>
            <li>Réalisations incluent le développement d'une suite d'applications, web et API, l'analyse technique et fonctionnelle des besoins métier, la création d'un système de métriques, de traitements par lots, de systèmes RabbitMQ, etc.</li>
        </ul>
        <h5 class="text-xl mb-2 mt-2 text-gray-900">Environnement technologique</h5>
        <div class="flex flex-wrap mt-4">
            <div class="w-1/2">
                <ul class="list-disc ml-5 text-sm text-black lowercase">
                    <li>Java</li>
                    <li>Python</li>
                    <li>BASH</li>
                    <li>JavaScript</li>
                    <li>Dynatrace</li>
                    <li>Azure Cloud</li>
                </ul>
            </div>
            <div class="w-1/2">
                <ul class="list-disc ml-5 text-sm text-black lowercase">
                    <li>TypeScript</li>
                    <li>HTML</li>
                    <li>Docker Suite</li>
                    <li>Concourse</li>
                    <li>Spring Suite</li>
                    <li>RabbitMQ</li>
                </ul>
            </div>
        </div>
    </div>
</div>