.terminal-text::after {
    content: '|';
    animation: blink 1s steps(2, start) infinite;
    font-weight: bold;
    font-size: 1.2em;
}

@keyframes blink {
    to {
        visibility: hidden;
    }
}

.grid {
    grid-auto-rows: minmax(auto, auto);
}