<div class="font-courier flex items-center justify-center pt-[8%] text-center w-full">
    <span class="terminal-text">{{ "home.phrase" | translate }} </span>
</div>

<div class="container mx-auto font-courier pt-[8%] pb-8">
    <h2 class="text-2xl font-semibold uppercase text-center">Projets</h2>
</div>

<div class="container mx-auto grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 font-courier items-stretch justify-items-stretch justify-content-center">
    <a *ngFor="let project of projects" [href]="project.url" target="_blank" class="card shadow-lg p-4 pb-8 pr-8 relative hover:bg-gray-100 transition duration-200">
        <span class="absolute bottom-2 right-2 text-black border border-black py-1 px-2 rounded-full">{{ project.lang }}</span>
        <img src="assets/img/github-logo.png" alt="GitHub Logo" class="w-8 h-8 absolute top-2 left-2">
        <h3 class="pl-10 pt-6 font-semibold">{{ "home." + project.title | translate }}</h3>
        <p class="pl-10 pt-2">{{ "home." + project.description | translate }}</p>
    </a>
</div>